{% extends 'base.html' %}

{% block content %}
<div class = "reviewDetails">
    <h2> {{ review.title }}</h2>

    <h3> Rating </h3>
    <p id="reviewRatingDetails">
        {% for i in range(review.rating) %}
            <span class="star">&#9733;</span>
        {% endfor %}
    </p>

    <h3> Review </h3>
    <p id="reviewTextDetails"> {{ review.text}} </p>

    <div style="text-align: center; margin-top: 30px;">
        <a href="{{ url_for('edit_review', review_id=review.id) }}" > Edit Review </a>
    </div>
</div>
{% endblock %}